@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto+Mono&display=swap');
body{
    margin:0;
    padding: 0;
/* background-color: blueviolet; */
background-image: url(https://wallpapercave.com/wp/wp3701488.jpg);
}

.h1{
   
    margin-bottom: 2px solid white;
    color: white;
   
}

tasks{
    display:flex;
    flex-direction: row;
}
.fa-solid{
padding-left: 20px;
padding-top: 10px;
cursor:pointer;
}
